In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# HDFC BANK

In [2]:
import pandas as pd

# Path to the Excel file
file_path = r"C:\Users\VIVEK YADAV\Desktop\nextbill\bank_data_for_ai\Zenedl\bank_statement\Bank_statementFY2024-25.xls"

# Read the Excel file up to row 193 and handle the structure
df = pd.read_excel(file_path, header=21, skiprows=range(0), usecols="A:G", nrows=172)

# Clean the DataFrame
df.columns = ['Date', 'Transaction Details', 'Reference Number', 'Date 2', 'Withdrawal Amt', 'Deposit Amt', 'Balance']  # Rename columns based on structure

# Drop any unnamed columns or extra rows
df = df.dropna(axis=1, how='all')  # Remove columns where all values are NaN

# Clean up any rows that might have partial or corrupt data
df = df.dropna(how='all')  # Remove rows with all NaN values

# Replace NaN in 'Withdrawal Amt' and 'Deposit Amt' columns with 0
df['Withdrawal Amt'] = df['Withdrawal Amt'].fillna(0)
df['Deposit Amt'] = df['Deposit Amt'].fillna(0)

# Display the cleaned DataFrame
df

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.2.5 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "C:\ProgramData\anaconda3\Lib\site-packages\ipykernel_launcher.py", line 17, in <module>
    app.launch_new_instance()
  File "C:\ProgramData\anaconda3\Lib\site-packages\traitlets\config\application.py", line 992, in launch_instance
    app.start()
  File "C:\ProgramData\anaconda3\Lib\site-packages\ipykernel\kernelapp.py", line 711, in start
    self.io_loop.start()
  File "C:\ProgramData\anaconda3\Lib\site-packages\tornado\platform\asyncio.py", line 195, in start
    self.asyncio_loop.run_forever()
  File "C:\ProgramData\anaconda3\Lib\asyncio\base_events.py", line 607, in run_forever
    self._run_once()
  File "C:\ProgramData\anaconda3\Lib\asyncio\base_events.py", line 1922, in _run_once
    handle._run()
  File "C:\ProgramData\anaconda3\Lib\asyncio\events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "C:\ProgramData\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 510, in dispatch_queue
    await self.process_one()
  File "C:\ProgramData\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 499, in process_one
    await dispatch(*args)
  File "C:\ProgramData\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 406, in dispatch_shell
    await result
  File "C:\ProgramData\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 729, in execute_request
    reply_content = await reply_content
  File "C:\ProgramData\anaconda3\Lib\site-packages\ipykernel\ipkernel.py", line 411, in do_execute
    res = shell.run_cell(
  File "C:\ProgramData\anaconda3\Lib\site-packages\ipykernel\zmqshell.py", line 531, in run_cell
    return super().run_cell(*args, **kwargs)
  File "C:\ProgramData\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3006, in run_cell
    result = self._run_cell(
  File "C:\ProgramData\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3061, in _run_cell
    result = runner(coro)
  File "C:\ProgramData\anaconda3\Lib\site-packages\IPython\core\async_helpers.py", line 129, in _pseudo_sync_runner
    coro.send(None)
  File "C:\ProgramData\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3266, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "C:\ProgramData\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3445, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "C:\ProgramData\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3505, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\VIVEK YADAV\AppData\Local\Temp\ipykernel_4184\176360370.py", line 1, in <module>
    import pandas as pd
  File "C:\ProgramData\anaconda3\Lib\site-packages\pandas\__init__.py", line 39, in <module>
    from pandas.compat import (
  File "C:\ProgramData\anaconda3\Lib\site-packages\pandas\compat\__init__.py", line 27, in <module>
    from pandas.compat.pyarrow import (
  File "C:\ProgramData\anaconda3\Lib\site-packages\pandas\compat\pyarrow.py", line 8, in <module>
    import pyarrow as pa
  File "C:\ProgramData\anaconda3\Lib\site-packages\pyarrow\__init__.py", line 65, in <module>
    import pyarrow.lib as _lib

AttributeError: _ARRAY_API not found

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.2.5 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "C:\ProgramData\anaconda3\Lib\site-packages\ipykernel_launcher.py", line 17, in <module>
    app.launch_new_instance()
  File "C:\ProgramData\anaconda3\Lib\site-packages\traitlets\config\application.py", line 992, in launch_instance
    app.start()
  File "C:\ProgramData\anaconda3\Lib\site-packages\ipykernel\kernelapp.py", line 711, in start
    self.io_loop.start()
  File "C:\ProgramData\anaconda3\Lib\site-packages\tornado\platform\asyncio.py", line 195, in start
    self.asyncio_loop.run_forever()
  File "C:\ProgramData\anaconda3\Lib\asyncio\base_events.py", line 607, in run_forever
    self._run_once()
  File "C:\ProgramData\anaconda3\Lib\asyncio\base_events.py", line 1922, in _run_once
    handle._run()
  File "C:\ProgramData\anaconda3\Lib\asyncio\events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "C:\ProgramData\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 510, in dispatch_queue
    await self.process_one()
  File "C:\ProgramData\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 499, in process_one
    await dispatch(*args)
  File "C:\ProgramData\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 406, in dispatch_shell
    await result
  File "C:\ProgramData\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 729, in execute_request
    reply_content = await reply_content
  File "C:\ProgramData\anaconda3\Lib\site-packages\ipykernel\ipkernel.py", line 411, in do_execute
    res = shell.run_cell(
  File "C:\ProgramData\anaconda3\Lib\site-packages\ipykernel\zmqshell.py", line 531, in run_cell
    return super().run_cell(*args, **kwargs)
  File "C:\ProgramData\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3006, in run_cell
    result = self._run_cell(
  File "C:\ProgramData\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3061, in _run_cell
    result = runner(coro)
  File "C:\ProgramData\anaconda3\Lib\site-packages\IPython\core\async_helpers.py", line 129, in _pseudo_sync_runner
    coro.send(None)
  File "C:\ProgramData\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3266, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "C:\ProgramData\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3445, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "C:\ProgramData\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3505, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\VIVEK YADAV\AppData\Local\Temp\ipykernel_4184\176360370.py", line 1, in <module>
    import pandas as pd
  File "C:\ProgramData\anaconda3\Lib\site-packages\pandas\__init__.py", line 62, in <module>
    from pandas.core.api import (
  File "C:\ProgramData\anaconda3\Lib\site-packages\pandas\core\api.py", line 9, in <module>
    from pandas.core.dtypes.dtypes import (
  File "C:\ProgramData\anaconda3\Lib\site-packages\pandas\core\dtypes\dtypes.py", line 24, in <module>
    from pandas._libs import (
  File "C:\ProgramData\anaconda3\Lib\site-packages\pyarrow\__init__.py", line 65, in <module>
    import pyarrow.lib as _lib

AttributeError: _ARRAY_API not found

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.2.5 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "C:\ProgramData\anaconda3\Lib\site-packages\ipykernel_launcher.py", line 17, in <module>
    app.launch_new_instance()
  File "C:\ProgramData\anaconda3\Lib\site-packages\traitlets\config\application.py", line 992, in launch_instance
    app.start()
  File "C:\ProgramData\anaconda3\Lib\site-packages\ipykernel\kernelapp.py", line 711, in start
    self.io_loop.start()
  File "C:\ProgramData\anaconda3\Lib\site-packages\tornado\platform\asyncio.py", line 195, in start
    self.asyncio_loop.run_forever()
  File "C:\ProgramData\anaconda3\Lib\asyncio\base_events.py", line 607, in run_forever
    self._run_once()
  File "C:\ProgramData\anaconda3\Lib\asyncio\base_events.py", line 1922, in _run_once
    handle._run()
  File "C:\ProgramData\anaconda3\Lib\asyncio\events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "C:\ProgramData\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 510, in dispatch_queue
    await self.process_one()
  File "C:\ProgramData\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 499, in process_one
    await dispatch(*args)
  File "C:\ProgramData\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 406, in dispatch_shell
    await result
  File "C:\ProgramData\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 729, in execute_request
    reply_content = await reply_content
  File "C:\ProgramData\anaconda3\Lib\site-packages\ipykernel\ipkernel.py", line 411, in do_execute
    res = shell.run_cell(
  File "C:\ProgramData\anaconda3\Lib\site-packages\ipykernel\zmqshell.py", line 531, in run_cell
    return super().run_cell(*args, **kwargs)
  File "C:\ProgramData\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3006, in run_cell
    result = self._run_cell(
  File "C:\ProgramData\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3061, in _run_cell
    result = runner(coro)
  File "C:\ProgramData\anaconda3\Lib\site-packages\IPython\core\async_helpers.py", line 129, in _pseudo_sync_runner
    coro.send(None)
  File "C:\ProgramData\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3266, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "C:\ProgramData\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3445, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "C:\ProgramData\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3505, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\VIVEK YADAV\AppData\Local\Temp\ipykernel_4184\176360370.py", line 1, in <module>
    import pandas as pd
  File "C:\ProgramData\anaconda3\Lib\site-packages\pandas\__init__.py", line 62, in <module>
    from pandas.core.api import (
  File "C:\ProgramData\anaconda3\Lib\site-packages\pandas\core\api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "C:\ProgramData\anaconda3\Lib\site-packages\pandas\core\arrays\__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "C:\ProgramData\anaconda3\Lib\site-packages\pandas\core\arrays\arrow\__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "C:\ProgramData\anaconda3\Lib\site-packages\pandas\core\arrays\arrow\array.py", line 50, in <module>
    from pandas.core import (
  File "C:\ProgramData\anaconda3\Lib\site-packages\pandas\core\ops\__init__.py", line 8, in <module>
    from pandas.core.ops.array_ops import (
  File "C:\ProgramData\anaconda3\Lib\site-packages\pandas\core\ops\array_ops.py", line 56, in <module>
    from pandas.core.computation import expressions
  File "C:\ProgramData\anaconda3\Lib\site-packages\pandas\core\computation\expressions.py", line 21, in <module>
    from pandas.core.computation.check import NUMEXPR_INSTALLED
  File "C:\ProgramData\anaconda3\Lib\site-packages\pandas\core\computation\check.py", line 5, in <module>
    ne = import_optional_dependency("numexpr", errors="warn")
  File "C:\ProgramData\anaconda3\Lib\site-packages\pandas\compat\_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "C:\ProgramData\anaconda3\Lib\importlib\__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "C:\ProgramData\anaconda3\Lib\site-packages\numexpr\__init__.py", line 24, in <module>
    from numexpr.interpreter import MAX_THREADS, use_vml, __BLOCK_SIZE1__

AttributeError: _ARRAY_API not found

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.2.5 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "C:\ProgramData\anaconda3\Lib\site-packages\ipykernel_launcher.py", line 17, in <module>
    app.launch_new_instance()
  File "C:\ProgramData\anaconda3\Lib\site-packages\traitlets\config\application.py", line 992, in launch_instance
    app.start()
  File "C:\ProgramData\anaconda3\Lib\site-packages\ipykernel\kernelapp.py", line 711, in start
    self.io_loop.start()
  File "C:\ProgramData\anaconda3\Lib\site-packages\tornado\platform\asyncio.py", line 195, in start
    self.asyncio_loop.run_forever()
  File "C:\ProgramData\anaconda3\Lib\asyncio\base_events.py", line 607, in run_forever
    self._run_once()
  File "C:\ProgramData\anaconda3\Lib\asyncio\base_events.py", line 1922, in _run_once
    handle._run()
  File "C:\ProgramData\anaconda3\Lib\asyncio\events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "C:\ProgramData\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 510, in dispatch_queue
    await self.process_one()
  File "C:\ProgramData\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 499, in process_one
    await dispatch(*args)
  File "C:\ProgramData\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 406, in dispatch_shell
    await result
  File "C:\ProgramData\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 729, in execute_request
    reply_content = await reply_content
  File "C:\ProgramData\anaconda3\Lib\site-packages\ipykernel\ipkernel.py", line 411, in do_execute
    res = shell.run_cell(
  File "C:\ProgramData\anaconda3\Lib\site-packages\ipykernel\zmqshell.py", line 531, in run_cell
    return super().run_cell(*args, **kwargs)
  File "C:\ProgramData\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3006, in run_cell
    result = self._run_cell(
  File "C:\ProgramData\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3061, in _run_cell
    result = runner(coro)
  File "C:\ProgramData\anaconda3\Lib\site-packages\IPython\core\async_helpers.py", line 129, in _pseudo_sync_runner
    coro.send(None)
  File "C:\ProgramData\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3266, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "C:\ProgramData\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3445, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "C:\ProgramData\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3505, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\VIVEK YADAV\AppData\Local\Temp\ipykernel_4184\176360370.py", line 1, in <module>
    import pandas as pd
  File "C:\ProgramData\anaconda3\Lib\site-packages\pandas\__init__.py", line 62, in <module>
    from pandas.core.api import (
  File "C:\ProgramData\anaconda3\Lib\site-packages\pandas\core\api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "C:\ProgramData\anaconda3\Lib\site-packages\pandas\core\arrays\__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "C:\ProgramData\anaconda3\Lib\site-packages\pandas\core\arrays\arrow\__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "C:\ProgramData\anaconda3\Lib\site-packages\pandas\core\arrays\arrow\array.py", line 64, in <module>
    from pandas.core.arrays.masked import BaseMaskedArray
  File "C:\ProgramData\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py", line 60, in <module>
    from pandas.core import (
  File "C:\ProgramData\anaconda3\Lib\site-packages\pandas\core\nanops.py", line 52, in <module>
    bn = import_optional_dependency("bottleneck", errors="warn")
  File "C:\ProgramData\anaconda3\Lib\site-packages\pandas\compat\_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "C:\ProgramData\anaconda3\Lib\importlib\__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "C:\ProgramData\anaconda3\Lib\site-packages\bottleneck\__init__.py", line 7, in <module>
    from .move import (move_argmax, move_argmin, move_max, move_mean, move_median,

AttributeError: _ARRAY_API not found

,Date,Transaction Details,Reference Number,Date 2,Withdrawal Amt,Deposit Amt,Balance
0,03/04/24,NEFT CR-IBKO0000001-REANZEN ENTERPRISE INDIA P...,07240403NEFT0128,03/04/24,0.00,64800.0,167149.07
1,07/04/24,EMI 97715209 CHQ S97715209152 042497715209,000000000000000,07/04/24,23375.00,0.0,143774.07
2,08/04/24,NEFT CR-SHBK0000004-LS BUILDWIN LTD - BRANCH O...,0020240408023580,08/04/24,0.00,108000.0,251774.07
3,08/04/24,50100230607784-TPT-MD SALARY-HYEONG SEOK JEONG,0000000175562031,08/04/24,149230.00,0.0,102544.07
4,15/04/24,SERVICE CHARGES-MAR24-28032130-Z84673,000000000000000,15/04/24,116.82,0.0,102427.25
...,...,...,...,...,...,...,...
166,22/03/25,IMPS-508115144448-AMAR KUMAR-ICIC-XXXXXXXX3696...,0000508115144448,22/03/25,0.00,50000.0,58184.03
167,27/03/25,IMPS-508611943596-MR SUNIL KUMAR PANDEY-SBIN-...,0000508611943596,27/03/25,0.00,1800.0,59984.03
168,27/03/25,NEFT CR-SBIN0050750-MR SUNIL KUMAR PANDEY-ZEN...,SBINN52025032786504394,27/03/25,0.00,10000.0,69984.03
169,29/03/25,50100230607784-TPT-MD REFUND-HYEONG SEOK JEONG,0000000110746251,29/03/25,0.00,100000.0,169984.03
170,31/03/25,NEFT CR-SHBK0000004-HYUNDAI CORPORATION-ZENEDL...,SHBKN52025033137385403,31/03/25,0.00,37800.0,207784.03

In [7]:
for i in df["Transaction Details"][:10]:
    print(i)

NEFT CR-IBKO0000001-REANZEN ENTERPRISE INDIA PRIVATE LIMITED-ZENEDL CNS PVT LTD-07240403NEFT0128
EMI 97715209  CHQ S97715209152 042497715209
NEFT CR-SHBK0000004-LS BUILDWIN LTD - BRANCH OFFICE-ZENEDL CNS PVT LTD-0020240408023580
50100230607784-TPT-MD SALARY-HYEONG SEOK JEONG
SERVICE CHARGES-MAR24-28032130-Z84673
LOW USAGE CHARGES-MAR24-28032130-Z84673
NEFT CR-SHBK0000004-LS BUILDWIN LTD - BRANCH OFFICE-ZENEDL CNS PVT LTD-0020240415055860
301733978/EPFO
301737105/EPFO
GST/BANK REFERENCE NO: R2411153458768/CIN NO: HDFC24040600189811

In [23]:
df.describe()

,Date,Transaction Details,Reference Number,Date 2,Withdrawal Amt,Deposit Amt,Balance
count,184,173,172,172,186,186,173.00
unique,117,148,154,105,45,31,165.00
top,15/07/24,50100230607784-TPT-MD EXP-HYEONG SEOK JEONG,000000000000000,13/12/24,0,0,98084.03
freq,5,20,19,5,87,103,2.00

In [38]:
# Filter the rows where Reference Number is '000000000000000'
filtered_df = df[df['Reference Number'] == '000000000000000']

# Display the filtered DataFrame
filtered_df

,Date,Transaction Details,Reference Number,Date 2,Withdrawal Amt,Deposit Amt,Balance
1,07/04/24,EMI 97715209 CHQ S97715209152 042497715209,000000000000000,07/04/24,23375.00,0.0,143774.07
4,15/04/24,SERVICE CHARGES-MAR24-28032130-Z84673,000000000000000,15/04/24,116.82,0.0,102427.25
5,15/04/24,LOW USAGE CHARGES-MAR24-28032130-Z84673,000000000000000,15/04/24,588.82,0.0,101838.43
14,07/05/24,EMI 97715209 CHQ S97715209153 052497715209,000000000000000,07/05/24,23375.00,0.0,7118.43
18,15/05/24,LOW USAGE CHARGES-APR24-28032130-Z84673,000000000000000,15/05/24,588.82,0.0,30289.61
19,15/05/24,SERVICE CHARGES-APR24-28032130-Z84673,000000000000000,15/05/24,116.82,0.0,30172.79
28,07/06/24,EMI 97715209 CHQ S97715209154 062497715209,000000000000000,07/06/24,23375.00,0.0,90857.79
32,15/06/24,LOW USAGE CHARGES-MAY24-28032130-Z84673,000000000000000,15/06/24,588.82,0.0,198268.97
33,15/06/24,SERVICE CHARGES-MAY24-28032130-Z84673,000000000000000,15/06/24,116.82,0.0,198152.15
46,07/07/24,EMI 97715209 CHQ S97715209155 072497715209,000000000000000,07/07/24,23375.00,0.0,93481.67
47,15/07/24,LOW USAGE CHARGES-JUN24-28032130-Z84673,000000000000000,15/07/24,588.82,0.0,92892.85
48,15/07/24,SERVICE CHARGES-JUN24-28032130-Z84673,000000000000000,15/07/24,116.82,0.0,92776.03
58,07/08/24,EMI 97715209 CHQ S97715209156 082497715209,000000000000000,07/08/24,23375.00,0.0,117101.03
71,07/09/24,EMI 97715209 CHQ S97715209157 092497715209,000000000000000,07/09/24,23375.00,0.0,155886.03
83,07/10/24,EMI 97715209 CHQ S97715209158 102497715209,000000000000000,07/10/24,23375.00,0.0,25600.03
93,07/11/24,EMI 97715209 CHQ S97715209159 112497715209,000000000000000,07/11/24,23375.00,0.0,1725.03
105,07/12/24,EMI 97715209 CHQ S97715209160 122497715209,000000000000000,07/12/24,23375.00,0.0,9650.03
112,13/12/24,EDC ANNUAL RENTAL 2024 Z84673,000000000000000,13/12/24,8850.00,0.0,69138.03
127,07/01/25,EMI 97715209 CHQ S97715209161 012597715209,000000000000000,07/01/25,23375.00,0.0,15392.03

In [34]:
# Filter the rows where 'Date' and 'Date 2' are different
filtered_df = df[df['Date'] != df['Date 2']]

# Print the number of rows where 'Date' and 'Date 2' are different
print(f"Number of rows where 'Date' and 'Date 2' are different: {filtered_df.shape[0]}")

# Print the filtered rows
filtered_df

Number of rows where 'Date' and 'Date 2' are different: 2

,Date,Transaction Details,Reference Number,Date 2,Withdrawal Amt,Deposit Amt,Balance
118,18/12/24,NEFT DR-SBIN0015430-NGAUNCHIETALAK SAMDING-NET...,N353243462465811,19/12/24,20000.0,0.0,37138.03
142,26/01/25,NEFT CR-SHBK0000004-HYUNDAI STEEL COMPANY-ZENE...,SHBKN52025012633509840,27/01/25,0.0,25920.0,51384.03

## Observations:

- if reference number is 000000000000000, then it is not related to company transation (it can be service charge, bank charge, emi , zero balance charge etc
- date  (Value dt) is not significant , it is same but in rare cases, it can be 1-2 days ahead of Date at max

-----------------------------------------------------------------------------------------------------------------
=================================================================================================================



extract feature from narration
-transaction type
-currency
-rate
-sender or reciver